body {
    background-color: #f7f7f7;
    text-align: center;
}

body.error {
    background-color: red;
}

img {
    width: 75%;
    position: relative;
    top: 50%;
    transform: translateY(-75%);
}
